{% extends "page.njk" %}

{% block content -%}

	<main>

		<article id="main">

			<!-- <i>USING post.njk</i> -->

			<h1>{{ title }}</h1>

			{% if desc %}<p>{{ desc }}</p>{% endif %}

			{{ content | safe }}

		</article>

	</main>

{%- endblock %}
