// Fonts

// $devanagari: "Kohinoor Devanagari", "Noto Sans Devanagari", "Mangal";
$apple: "-apple-system", "BlinkMacSystemFont";
$android: "Google Sans Text", "Google Sans", "Rubik", "Noto Sans", "Roboto";
$windows: "Segoe UI Variable Display", "Segoe UI";
$linux: "Open Sans", "Oxygen", "Cantarell", "Fira Sans", "Ubuntu";

$mono: "JetBrains Mono", ui-monospace, "SFMono-Regular", "SF Mono", "Cascadia Code", "Courier New", "Fira Code", monospace;

$fallback: "Arial", sans-serif;
$emoji: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


$body-font: $apple, $android, $windows, $linux, $fallback, $emoji;
$mono-font: $mono, $emoji;


$mono-code: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
$mono-pre: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;