*, ::before, ::after {
	box-sizing: border-box;
	/* outline: .1px solid red; */
}

* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

input, button, select {
	font: inherit;
	color: inherit; /* currentColor */
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

// NOT <input readonly>
input:read-only:not([readonly]),
button:read-only {
	user-select: none;
	cursor: pointer;
}

textarea {
	display: block;
	font-size: 16px;
   line-height: 1.6;
}

@media (prefers-reduced-motion: reduce) {
	*, ::before, ::after {
		animation-duration: .01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: .01ms !important;
		scroll-behavior: auto !important;
	}
}
