* {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: #ccc #fafafa;
	-webkit-overflow-scrolling: touch; /* Only iOS Safari */
	overflow-anchor: auto;
}

html:not(:focus-within) {
	scroll-behavior: auto;
}

::-webkit-scrollbar {
	width: 11px;
	height: 11px;
	/* outline: .1px solid #ccc; */
	/* display: none; */

	&-track { background: #fafafa }
	&-track:vertical { border-left: .1px solid #ccc }
	&-track:horizontal { border-top: .1px solid #ccc }

	&-thumb {
		background-color: #ccc;
		min-height: 70px;
		min-width: 70px;

		&:hover { background-color: #bbb }
		&:active { background-color: #aaa }
	}
}

html {
	scroll-padding-top: 75px;
}
