@use "../abstracts" as *;

@font-face {
	font-family: "Inter";
	// font-style: italic 0deg 10deg;
	// font-style: oblique 0deg 10deg;
	font-style: oblique 0deg 30deg;
	// font-style: oblique; work in vivo but not in infinix
	font-weight: 100 900;
	font-display: swap;
	src: local("Inter"), url("./../fonts/inter.var.woff2") format("woff2-variations");
}

@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-display: swap;
	src: local("JetBrains Mono"), url("./../fonts/jet-brains-mono-regular.woff2") format("woff2");
}

html {
	text-rendering: optimizespeed;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;

	font-family: "Inter", $body-font;
	font-size: 100%;
	// font-weight: 430;
	font-feature-settings:
		"calt" on,
		// "frac" off, // Causing issue with Roboto on Android
		// "case" on, // ?? Not Needed ??
		"cv05" on, // l
		// "cv06" on, // r => Not looking good
		"cv08" on, // I
		"cv10" on, // G
		"cv11" on, // a
	;
}

// body { font-size: clamp(1.13rem, calc(1.04rem + .37vw), 1.25rem) } //  18 (360) | 20 (900)
body { font-size: clamp(17.5px, calc(0.99rem + 0.34vw), 19px) } //  17 (320) | 19 (900)

pre, code {	font-family: $mono-font }

/* html.fonts-loaded {
	font-feature-settings:
		"calt" on,
		"frac" on,
		// "case" off,
		"cv10" on,
		"cv05" on,
		"cv08" on,
		"cv11" on
	;
}
html.fonts-loaded {
	--frac: on; // 😎
} */

* {
	// line-height: calc(1em + .55rem);
	line-height: calc(1em + .7rem);
}

h1, h2, h3, h4, h5, h6, p, a { overflow-wrap: break-word }

// h2, h3, h4, h5, h6, p { margin-top: calc(1em + .6rem) } // IN _2_layout.scss:17

h2, h3, h4, h5, h6 { font-weight: 650 }

h1 { font-size: clamp(2.13rem, calc(1.92rem + 1.03vw), 2.5rem) } //    34 (320)  |  40 (900)
// h1 { font-size: clamp(2.00rem, calc(1.79rem + 1.03vw), 2.38rem) } //    32 (320)  |  38 (900) ⚙

h2 { font-size: clamp(1.60rem, calc(1.48rem + .59vw), 1.81rem) } //  25.6 (320)  |  29 (900)
h3 { font-size: clamp(1.41rem, calc(1.29rem + .60vw), 1.63rem) } //  22.5 (320)  |  26 (900)
h4, h5, h6 { font-size: clamp(1.3125rem, calc(1.21rem + .51vw), 1.5rem) } //  21 (320)  |  24 (900)


p, ul, ol  { color: #222 }

ul, ol { padding-left: 20px }
:is(ul, ol) > li { margin: 5px 0 }

p :is(i, em) { margin-right: 4px }
:is(b, strong) { font-weight: 600 }
u { text-underline-offset: 3px }


// i, em {
// 	font-style: oblique;
// 	font-style: oblique 0deg 30deg;
// }

:is(input, output)[type="number"], time { font-variant-numeric: tabular-nums }
