{% if seoTitle %}{% set seoTitle %}{{ seoTitle + site.separator }}{% endset %}{% endif %}
{% if title %}{% set title %}{{ title + site.separator }}{% endset %}{% endif %}

<!--|| श्री ||-->
<!doctype html>
<html lang="en-IN">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% if seoTitle or title -%}
	<title>{{ site.title if page.url === '/' else seoTitle | safe or title | safe }}</title>
	{%- endif %}

	{%- if seoDesc or desc %}
	<meta name="description" content="{{- seoDesc or desc -}}" />
	{% endif %}


	<meta name="theme-color" content="#0050ff" />
	<meta name="color-scheme" content="light dark" />

	<link rel="icon" href="/favicon.ico" sizes="any" />
	<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />


	<link rel="preload" as="font" href="/assets/fonts/inter.var.woff2" type="font/woff2" crossorigin />

	<link rel="stylesheet" href="{{ site.assets.css | url }}" />
	<script defer src="{{ site.assets.js | url }}"></script>
</head>
<body>