.mxw {
	// width: 100%; /* Probably UnNeeded */
	// max-width: 1200px;
	width: min(100%, 1200px);
	margin: auto;
}

#site-header + .mxw {
	// padding-top: 60px;
}


h1 {
	text-align: center;
	margin-bottom: 40px;
	margin-bottom: 50px;

	@media (max-width: 600px) { text-align: unset }
}

main#main h1::after {
	content: "";
	display: block;
	width: 125px;
	height: 4px;
	background-color: currentColor;
	margin: 10px auto;
}

.m-align-center {
	margin: 0 auto;
}

.t-align-center {
	text-align: center;
}
