@use "../abstracts" as *;

.mxw {
	// width: 100%; /* Probably UnNeeded */
	// max-width: 1200px;
	width: min(100%, 1200px);
	margin: auto;
}

#site-header + .mxw {
	// padding-top: 60px;
}


h1 {
	margin-bottom: 40px;
	margin-bottom: 50px;

	@media (M600(desk)) { text-align: center }
}


.m-align-center {
	margin: 0 auto;
}

.t-align-center {
	text-align: center;
}
