/* ANCHOR & BUTTON */
.btn-primary {
	background-color: var(--bgcolor-primary);
	color: #fff;
	font-weight: 500;
	width: max-content;
	padding: 3px 14px;
	border: 2px solid var(--bgcolor-primary);
	border-radius: 30px;
	margin-top: 1em !important;
	transition: background-color .1s linear, color .1s linear;

	&:is(:hover, :focus-visible) {
		background-color: #fff;
		color: var(--bgcolor-primary);
	}
}

a.btn-primary {
	text-decoration: none;
	display: block; // inline-block
}


/* CODE */

mark, code, pre, details { border-radius: .4em }

code, pre { background-color: #eee; }

code {
	font-style: normal;
	font-size: clamp(16px, calc(.97rem + .17vw), 17px);
	padding: 0 .2em;
}


pre {
	// position: relative;
	display: flex; // enabling right padding
	tab-size: 3;
	margin: 1em 0;

	& > code {
		padding: 0.9em 1.1em;
		overflow-x: auto;
		scrollbar-width: thin;

		// &:has( + button) { padding-right: calc(40px + .8em); }

		&::-webkit-scrollbar {
			width: 15px;
			height: 15px;

			&-track {
				border: none !important;
				background-color: transparent;
			}

			&-thumb {
				border: 4px solid transparent;
				background-clip: content-box;
				border-radius: 10px;
			}
		}
	}

	// & > button {
	// 	position: absolute;
	// 	right: 0;
	// 	width: 35px;
	// 	height: 35px;
	// 	margin: 5px;
	// }
}


/* MISC */

mark { background-color: #fffa36 } // #fff900
