/* ANCHOR & BUTTON */
.btn-primary {
	background-color: var(--bgcolor-primary);
	color: #fff;
	font-weight: 500;
	width: max-content;
	padding: 3px 14px;
	border: 2px solid var(--bgcolor-primary);
	border-radius: 30px;
	margin-top: 1em !important;
	transition: background-color .1s linear, color .1s linear;

	&:is(:active, :focus-visible) {
		background-color: #fff;
		color: var(--bgcolor-primary);
	}
	@media (hover: hover) {
		&:hover {
			background-color: #fff;
			color: var(--bgcolor-primary);
		}
	}
}

a.btn-primary {
	text-decoration: none;
	display: block; // inline-block
}


/* Details Summary */

details {
	background-color: #fafafa;
	padding: 10px 20px 15px;

	& > summary {
		background-color: #f7f7f7;
		border-radius: 5px;
		padding: 6px 14px 5px;
		margin: -10px -20px -15px;
		border-bottom: 2px solid #eee;
		font-weight: 600;
		color: #333;
		cursor: pointer;
		touch-action: manipulation;

		&::marker { content: none }

		&::before {
			content: "▶";
			display: inline-block;
			font-size: 80%;
			vertical-align: 1px;
			margin-right: 10px;
			transition: transform 0.2s;
		}
	}

	&[open] > summary {
		margin-bottom: 15px;
		border-radius: 5px 5px 0 0;

		&::before {
			transform: rotate(90deg);
		}
	}
}


/* MISC */

mark, samp, kbd, code, pre, details { border-radius: .4em }

kbd, code, pre { background-color: #eee; }

samp, kbd, code {
	font-style: normal;
	font-weight: normal;
	font-size: clamp(16px, calc(.97rem + .17vw), 17px); // 95%
	padding: 0 .2em;
}


pre {
	// position: relative;
	display: flex; // enabling right padding
	tab-size: 3;
	margin: 1em 0;

	details > &:only-of-type { margin-bottom: 5px; }

	& > code {
		padding: 0.9em 1.1em;
		overflow-x: auto;
		scrollbar-width: thin;

		// &:has( + button) { padding-right: calc(40px + .8em); }

		&::-webkit-scrollbar {
			width: 15px;
			height: 15px;

			&-track {
				border: none !important;
				background-color: transparent;
			}

			&-thumb {
				border: 4px solid transparent;
				background-clip: content-box;
				border-radius: 10px;
			}
		}
	}

	// & > button {
	// 	position: absolute;
	// 	right: 0;
	// 	width: 35px;
	// 	height: 35px;
	// 	margin: 5px;
	// }
}

kbd {
	box-shadow: inset 0 0 0 1px #ccc, 0 1px #ccc;
	padding: 0.1em 0.4em;
}

mark { background-color: #fffa36 } // #fff900
