---
title: Contact Us
seoDesc: Contact us for any questions, suggestions or bug reports.

tags: root_page
---

<div class="tip warn">
	<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" stroke="hsl(40deg 100% 50%)" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.3 5a2 2 0 0 1 3.4 0l7 12a2 2 0 0 1-1.8 3H5.1a2 2 0 0 1-1.8-3l7-12ZM12 9.5v4"/><circle cx="12" cy="17" r=".5"/></svg>
	<p>Contact us using the below form only for asking <strong>serious</strong> questions and filing a complaint about the copyright or <a href="{{ site.pages.legal.url }}" target="blank">legal policies</a> of {{ site.title }}.</p>
</div>

<div class="tip info">
	<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" stroke="hsl(230deg 100% 50%)" viewBox="0 0 24 24"><circle cx="12" cy="13" r="9.25" stroke-width="1.5"/><circle r=".5" transform="matrix(1 0 0 -1 12 9.5)"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 17v-4"/></svg>
	<p>For <strong>not so serious</strong> Questions, Feedback, Bug report & Tools requests, please use <a href="{{ site.git.issue }}" target="blank">issues</a> & <a href="{{ site.git.discs }}" target="blank">discussion</a> at kalc tools' public <a href="{{ site.git.repo }}" target="blank">Github repository</a>.</p>
</div>

<iframe loading="eager" src="https://kalc-tools.netlify.app/contact/" title="Contact Form"></iframe>

<style>
	.tip {
		display: grid;
		grid-template-columns: 40px 1fr;
		gap: 15px;
		padding: 10px 15px;
		border-radius: 5px;
		border: 2px solid;
		font-weight: 550;
	}
	.warn {
		color: hsl(40deg 100% 20%);
		border-color: hsl(40deg 100% 80%);
		background-color: hsl(40deg 100% 95%);
	}
	.info {
		color: hsl(230deg 100% 30%);
		border-color: hsl(230deg 100% 80%);
		background-color: hsl(230deg 100% 98%);
	}
	.tip strong {
		font-weight: 550;
		text-decoration: underline dashed;
		text-underline-offset: 3px;
	}
	iframe {
		width: calc( 100% + 10px);
		height: 700px;
		border: none;
		margin: 0 -5px;
	}
</style>

<script>
	const iframe = document.querySelector("iframe");
	window.addEventListener("message", (e) => {
		if (e.origin === "https://kalc-tools.netlify.app" && Number.isInteger(e.data.iframeHeight)) {
			iframe.style.height = e.data.iframeHeight + "px";
		}
	});
</script>